* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.header-container {
    display: flex;
    margin: 0;
    padding: 30px;
    background-color: #1F2937;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    font-size: 20px;
    color: #F9F4F8;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    color: #fff;
    text-decoration: none;
}

.main-container {
    display: flex;
    margin: 0;
    padding: 30px 30px 90px 30px;
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9F4F8;
}

.secundary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    color: #fff;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    margin-top: 13px;
    border-color: #3882F6;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.img-container {
    display: flex;
    margin-left: auto;
    background-color: #F9F4F8;
    height: 210px;
    width: 500px;
}

.img-container img {
    height: 210px;
    width: 500px;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 24px;
    margin-bottom: 24px;
}

.third-container {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 30px 30px 90px 30px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 28px;
}

.box {
    background-color: #fff;
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.fourth-container {
    background-color: #E5E7EB;
    margin: 0px;
    padding: 30px;
    height: 420px;
}
.quote {
    text-align: justify;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 60px 60px 60px 110px;
}

.thor {
    text-align: right;
    font-weight: bold;
    padding-right: 180px;
}

.another-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    height: 320px;
}

.blue-box {
    display: flex;
    justify-content: space-around;
    height: 140px;
    width: 900px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px;
}

.sign-up-2 {
    background-color: #3882F6;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    height: 35px;
    width: 100px;
    margin-top: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    background-color: #1F2937;
    height: 100px;
}

.copy {
    color: #fff;
    font-size: 20px;
    text-align: center;
}